.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is-done {
  opacity: 0.5;
}

.task {
  font-weight: bold;
}

.task-done {
  opacity: 0.5;
  font-style: italic;
  text-decoration:line-through;
}

.btn-filter-active {
  background-color: chocolate;
  border: 1px solid chocolate;
  color: white;
  border-radius: 3px;
  margin-right: 5px;
}

.input-error {
  border: 3px solid red;
  outline: none;
}